/*work sans font style form goggle fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/*common-shared styles*/
*{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    border-radius: 8px;
background: #FF900E;
padding: 20px 25px;
font-size: 1.25rem;
font-weight: 600;
color: #FFF;
border: none;
cursor: pointer;
}
.text-light-gray{
    color:#727272 ;
    font-size: 1rem;
font-weight: 400;

}


/*header style*/
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.8rem;
font-weight: 700;
color: #131313;
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
     font-weight: 500;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/*banner styles*/
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
font-weight: 700;
color: #131313;

}

.banner img{
    width: 100%;
    margin-top: 20px;
}

/*main section*/
main{
    max-width: 1440px;
    margin: 70px auto;
}
/*team styles*/

.team-container{
    display: flex;
    align-items: center;
    
}
.team-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.team-content{
    padding-left: 70px;
    padding-right: 70px;
}
.team-title{
    font-size: 2.8rem;
}
.team-title .quick-list{
    color: #727272;
    font-weight: 500;
}
.team-title .text-features{
    color: #FF900E;

font-weight: 700;

}
/*responsive media query*/
/*mobile device*/
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav , .team-container{
        flex-direction: column;
    }
    .team-images{
        grid-template-columns: repeat(1,1fr);
    }
    .team-content{
        padding-left: 20px;
        padding-right: 20px;}
}
/*medium or tablet devices media query*/
@media screen and (min-width:576px) and (max-width:922px) {
    header{
        padding: 50px;
    }
    nav ,.team-container{
        flex-direction: column;
    }
    
}