/*work sans font style form goggle fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/*common-shared styles*/
*{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    border-radius: 8px;
background: #FF900E;
padding: 20px 25px;
font-size: 1.25rem;
font-weight: 600;
color: #FFF;
border: none;
cursor: pointer;
}
.text-light-gray{
    color:#727272 ;
    font-size: 1rem;
font-weight: 400;

}
.section-title{
    font-size: 2.8rem;
font-weight: 700;
color: #131313;
}

/*header style*/
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
     font-weight: 500;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/*banner styles*/
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
font-weight: 700;
color: #131313;

}

.banner img{
    width: 100%;
    margin-top: 20px;
}

/*main section*/
main{
    max-width: 1440px;
    margin: 70px auto;
}
/*team styles*/

.team-container{
    display: flex;
    align-items: center;
    
}
.team-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.team-content{
    padding-left: 70px;
    padding-right: 70px;
}
.team-title{
    font-size: 2.8rem;
}
.team-title .quick-list{
    color: #727272;
    font-weight: 500;
}
.team-title .text-features{
    color: #FF900E;

font-weight: 700;

}
/*features styles*/

.features{
    display: flex;
    margin-top: 130px;
    gap: 100px;
}
.feature-content .card{
    border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
padding: 30px 33px;
margin-bottom: 20px;
}
.feature-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;

}
 .ten-year-badge
 {
    border-radius: 8px;
background: #FF900E;
color: #FFF;
width: 342px;
height: 200px;
padding: 40px;
margin: 0;
text-align: center;
position: relative;
bottom: 100px;
}
.feature-image img{
    height: 90%;
margin-left: 90px;
}
.ten-year-badge h3{
    font-size: 4rem;
}
.ten-year-badge p{
    font-size: 1.5rem;
}
/*facts style*/

.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border-radius: 8px;
border: 1px solid #FF900E;
    padding:   30px;
    margin-right: 35px;
    text-align: center;
    
}
.facts-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}




.facts-card-container .card-stats{
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin-top: 10px;
    margin-right: 10px;
}
/*sponspor styles*/
.sponsors{
    text-align: center;
}
.sponsors-img-container
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
}
.sponsors-img-container img{
    width: 165px;
}

footer{
    border-radius: 8px;
background: #FFF4E7;
text-align: center;
padding: 45px 240px;
font-size: 20px;
font-weight: 400;
}


/*responsive media query*/
/*mobile device*/
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav , .team-container , .features,.facts-card-container ,.sponsors-img-container{
        flex-direction: column;
    }
    .feature-image img{
        width: 100%;
        margin-left: 0;
    }
    .ten-year-badge{
        position: static;
       max-width:300px ; 
    }
    .team-images{
        grid-template-columns: repeat(1,1fr);
    }
    .team-content ,.facts-card-container{
        padding-left: 20px;
        padding-right: 20px;}
        .facts-card-container{
            gap: 20px;
        }
}
/*medium or tablet devices media query*/
@media screen and (min-width:576px) and (max-width:922px) {
    header{
        padding: 50px;
    }
    nav ,.team-container,.features, .sponsors-img-container{
        flex-direction: column;
    }
    
}